/* ---Global Styles--- */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  scroll-behavior: smooth;
}

/* ---Tag Styles--- */
header {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  color: #4e442e;
}
main {
  padding: 1rem 1.5rem;
}
body {
  background: #e5eef4;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  margin-bottom: 1.5rem;
}

button {
  padding: 0.5rem 0.8rem;
  outline: none;
  border: none;
  font-size: 0.9rem;
  color: #e5eef4;
  background: #354857;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 0.1s;
}
button:hover {
  background: #21313d;
}
button:focus {
  outline: solid 1px black;
}

/* ---Show and Hide classes--- */
.show {
  display: block;
}
.hide {
  display: none;
}

/* ---Form Styles--- */
.form {
  margin-left: 0.5rem;
}
.input-group {
  margin-bottom: 1rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.form input {
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
}

/* ---Simulation Styles--- */
.simulation-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.building-container {
  display: flex;
  justify-content: center;
}
.building {
  width: 90%;
  position: relative;
}
.floor {
  height: 5rem;
  display: flex;
  align-items: end;
  gap: 0.2rem;
}
.floor-area {
  flex: 1;
  position: relative;
}
.floor-area:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background: #354857;
  z-index: 5;
}
.floor-controls {
  margin-bottom: 0.5rem;
  width: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.floor button {
  font-size: 0.75rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.up-button {
  background: #838640;
}
.button-icon {
  width: 1.3rem;
}

.lifts-container {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 10%;
  outline: 1px solid #bdc8cf;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: 0.5rem;
}
.liftline {
  width: 10%;
  max-width: 4.1rem;
  height: 100%;
  outline: 1px dashed rebeccapurple;
  position: relative;
}
.lift {
  width: 100%;
  max-width: 4rem;
  height: 4.5rem;
  position: absolute;
  bottom: 0;
  background: #4e442e;
  border: 1px solid #21313d;
}

div[floor-no="1"] .up-button {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 640px) {
  .building {
    width: 100%;
  }
  .lifts-container {
    width: 75%;
    left: 15%;
  }
}
