@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");
/* ---Global Styles--- */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: "League Spartan", sans-serif;
}

/* ---Tag Styles--- */
header {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  color: #4e442e;
  text-align: center;
}
main {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}
body {
  background: #e5eef4;
}

main > section {
  width: 100%;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  margin-bottom: 1.5rem;
}

button {
  padding: 0.5rem 0.8rem;
  outline: none;
  border: none;
  font-size: 0.9rem;
  color: #e5eef4;
  background: #354857;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 0.1s;
}
button:hover {
  background: #21313d;
}
button:focus {
  background: #21313d;
  outline: solid 1px black;
}

/* ---Show and Hide classes--- */
.show {
  display: block;
}
.hide {
  display: none;
}

/* ---Form Styles--- */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-header {
  margin-top: 5rem;
  text-align: center;
}
.input-group {
  margin-bottom: 1.3rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
form label {
  font-size: 1.2rem;
}
.form input {
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
}

/* ---Simulation Styles--- */
.simulation-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.building-container {
  display: flex;
  justify-content: center;
}
.building {
  width: 90%;
  position: relative;
}
.floor {
  height: 5rem;
  display: flex;
  align-items: end;
  gap: 0.2rem;
}
.floor-area {
  flex: 1;
  position: relative;
}
.floor-area:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background: #354857;
  z-index: 2;
}
.floor-controls {
  margin-bottom: 0.5rem;
  max-width: 2.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.floor button {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}
.floor button:hover,
.floor button:focus {
  scale: 1.1;
}
.up-button {
  background: #838640;
}
.up-button:hover {
  background: #66692c;
}
.up-button:focus {
  background: #66692c;
  outline: solid 1px black;
}
.button-icon {
  width: 1.3rem;
}
.floor-no {
  font-size: 0.9rem;
}

.lifts-container {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 10%;
  outline: 1px solid #bdc8cf;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: 0.5rem;
}
.liftline {
  width: 10%;
  max-width: 4.1rem;
  height: 100%;
  position: relative;
}
.lift {
  width: 100%;
  max-width: 4rem;
  height: 4.5rem;
  position: absolute;
  bottom: 0;
  background: #b8cbda;
  border: 1px solid #21313d;
  transform: translateY(0);
  transition-timing-function: ease;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
.door {
  width: 50%;
  height: 100%;
  background: #354857;
}
.left-door {
  border-right: 1px solid #59666e;
}
.open-close-animation .door {
  animation: open-close-animation 5s;
}

@keyframes open-close-animation {
  0%,
  100% {
    width: 50%;
  }
  50% {
    width: 0%;
  }
}

div[floor-no="1"] .up-button {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .building {
    width: 100%;
  }
  .floor-no {
    font-size: 0.7rem;
  }
  .floor button {
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 640px) {
  main {
    padding: 1rem 1rem;
  }
  .lifts-container {
    width: 78%;
    left: 11%;
  }
  .floor-controls {
    max-width: 2rem;
  }
  .floor button {
    padding: 0.1rem;
  }
  .floor-no {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 460px) {
  .lifts-container {
    outline: none;
  }
  .floor-controls {
    max-width: 1.8rem;
  }
  .up-button > img,
  .down-button > img {
    width: 1.1rem;
  }
}

@media only screen and (max-width: 340px) {
  .floor-controls {
    max-width: 1.5rem;
  }
  .up-button > img,
  .down-button > img {
    width: 0.9rem;
  }
}
